@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.calibre {
    display: block;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre2 {
    height: 1063px;
    width: 753px
    }
.calibre3 {
    font-size: 7.11em;
    line-height: 1.2
    }
.calibre4 {
    font-style: italic;
    line-height: 1.2
    }
.calibre5 {
    font-size: 13.22em;
    line-height: 1.2
    }
.calibre6 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre7 {
    font-size: 2.56em;
    line-height: 1.2
    }
.calibre8 {
    font-size: 12.33em;
    line-height: 1.2
    }
.calibre9 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre10 {
    height: 29px;
    width: 138px
    }
.calibre11 {
    height: 369px;
    width: 310px
    }
.calibre12 {
    height: 115px;
    width: 752px
    }
.calibre13 {
    height: 1067px;
    width: 906px
    }
.calibre14 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always;
    text-align: center
    }
.calibre15 {
    font-size: 4.11em;
    line-height: 1.2
    }
.calibre16 {
    height: 46px;
    width: 7px
    }
.calibre17 {
    font-size: 2.44em;
    line-height: 1.2
    }
.calibre18 {
    font-size: 2.22em;
    line-height: 1.2
    }
.calibre19 {
    height: 1063px;
    width: 908px
    }
.calibre20 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always
    }
.calibre21 {
    font-size: 1.89em;
    line-height: 1.2
    }
.calibre22 {
    font-size: 2em;
    line-height: 1.2
    }
.calibre23 {
    font-size: 2.78em;
    line-height: 1.2
    }
.calibre24 {
    font-size: 1.33em;
    line-height: 1.2
    }
.calibre25 {
    height: 1063px;
    width: 909px
    }
.calibre26 {
    font-size: 4em;
    line-height: 1.2
    }
.calibre27 {
    display: block;
    margin-bottom: 1em;
    margin-left: 10em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre28 {
    font-size: 2.89em;
    line-height: 1.2
    }
.calibre29 {
    display: block;
    margin-bottom: 1em;
    margin-left: 8em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre30 {
    font-size: 1.56em;
    line-height: 1.2
    }
.calibre31 {
    height: 1062px;
    width: 906px
    }
.calibre32 {
    height: 1070px;
    width: 917px
    }
.calibre33 {
    height: 1073px;
    width: 921px
    }
.calibre34 {
    font-size: 1.67em;
    line-height: 1.2
    }
.calibre35 {
    font-size: 1.22em;
    line-height: 1.2
    }
.calibre36 {
    display: block;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre37 {
    display: block;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre38 {
    display: block;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre39 {
    height: 1066px;
    width: 904px
    }
.calibre40 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
.calibre41 {
    display: block
    }
.calibre42 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always
    }
.calibre43 {
    display: block;
    margin-bottom: 1em;
    margin-left: 5em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre44 {
    font-size: 1.44em;
    line-height: 1.2
    }
.calibre45 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always
    }
.calibre46 {
    float: right
    }
.calibre47 {
    height: 1067px;
    width: 912px
    }
.calibre48 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-before: always
    }
.calibre49 {
    font-size: 0.67em;
    line-height: 1.2
    }
.calibre50 {
    display: block;
    margin-bottom: 1em;
    margin-left: 6em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre51 {
    height: 1071px;
    width: 910px
    }
.calibre52 {
    height: 1058px;
    width: 907px
    }
.calibre53 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre54 {
    line-height: 1.2
    }
.calibre55 {
    font-size: 0.67em
    }
.calibre56 {
    height: 1060px;
    width: 904px
    }
.calibre57 {
    height: 1078px;
    width: 919px
    }
.calibre58 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre59 {
    height: 1069px;
    width: 901px
    }
.calibre60 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre61 {
    font-size: 10.56em;
    line-height: 1.2
    }
.calibre62 {
    height: 1071px;
    width: 911px
    }
.calibre63 {
    font-size: 2.33em;
    line-height: 1.2
    }
.calibre64 {
    height: 1062px;
    width: 902px
    }
.calibre65 {
    font-size: 1.78em;
    line-height: 1.2
    }
.calibre66 {
    height: 1072px;
    width: 913px
    }
.calibre67 {
    height: 1064px;
    width: 900px
    }
.calibre68 {
    font-size: 10.33em;
    line-height: 1.2
    }
.calibre69 {
    height: 1076px;
    width: 917px
    }
.calibre70 {
    height: 1069px;
    width: 914px
    }
.calibre71 {
    height: 1069px;
    width: 909px
    }
.calibre72 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always
    }
.calibre73 {
    font-size: 9.22em;
    line-height: 1.2
    }
.calibre74 {
    font-size: 2.11em;
    line-height: 1.2
    }
.calibre75 {
    font-size: 3em;
    line-height: 1.2
    }
.calibre76 {
    height: 1069px;
    width: 910px
    }
.calibre77 {
    height: 1065px;
    width: 911px
    }
.calibre78 {
    height: 1061px;
    width: 906px
    }
.calibre79 {
    height: 56px;
    width: 138px
    }
.calibre80 {
    font-size: 5em;
    line-height: 1.2
    }
.calibre81 {
    height: 56px;
    width: 140px
    }
.calibre82 {
    display: block;
    margin-bottom: 1em;
    margin-left: 7em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre83 {
    display: block;
    margin-bottom: 1em;
    margin-left: 23em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre84 {
    height: 55px;
    width: 140px
    }
.calibre85 {
    height: 55px;
    width: 138px
    }
.calibre86 {
    font-size: 3.89em;
    line-height: 1.2
    }
.calibre87 {
    height: 71px;
    width: 138px
    }
.calibre88 {
    height: 17px;
    width: 112px
    }
.calibre89 {
    height: 69px;
    width: 138px
    }
.calibre90 {
    height: 19px;
    width: 121px
    }
.calibre91 {
    height: 1063px;
    width: 901px
    }
.calibre92 {
    font-size: 10.22em;
    line-height: 1.2
    }
.calibre93 {
    height: 27px;
    width: 422px
    }
.calibre94 {
    display: block;
    margin-bottom: 1em;
    margin-left: 9em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre95 {
    font-size: 4.33em;
    line-height: 1.2
    }
.calibre96 {
    float: left;
    line-height: 1.2
    }
.calibre97 {
    display: block;
    margin-bottom: 1em;
    margin-left: 26em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre98 {
    height: 1076px;
    width: 923px
    }
.calibre99 {
    font-style: italic
    }
.calibre100 {
    height: 1065px;
    width: 903px
    }
.calibre101 {
    font-size: 10.44em;
    line-height: 1.2
    }
.calibre102 {
    height: 27px;
    width: 52px
    }
.calibre103 {
    font-size: 1.11em;
    line-height: 1.2
    }
.calibre104 {
    height: 1069px;
    width: 926px
    }
.calibre105 {
    height: 282px;
    width: 324px
    }
.calibre106 {
    display: block;
    margin-bottom: 1em;
    margin-left: 14em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre107 {
    display: block;
    margin-bottom: 1em;
    margin-left: 36em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre108 {
    font-size: 2.67em;
    line-height: 1.2
    }
.calibre109 {
    height: 1069px;
    width: 922px
    }
.calibre110 {
    font-size: 0.89em
    }
.calibre111 {
    font-weight: bold
    }
.calibre112 {
    font-size: 4.78em;
    line-height: 1.2
    }
.calibre113 {
    font-size: 11.67em;
    line-height: 1.2
    }
.calibre114 {
    height: 27px;
    width: 475px
    }
.calibre115 {
    height: 1072px;
    width: 919px
    }
.calibre116 {
    height: 1065px;
    width: 915px
    }
.calibre117 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always
    }
.calibre118 {
    height: 1071px;
    width: 924px
    }
.calibre119 {
    height: 1071px;
    width: 917px
    }
.calibre120 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-before: always
    }
.calibre121 {
    display: block;
    margin-bottom: 1em;
    margin-left: 16em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre122 {
    display: block;
    margin-bottom: 1em;
    margin-left: 12em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre123 {
    height: 1065px;
    width: 902px
    }
.calibre124 {
    display: block;
    margin-bottom: 1em;
    margin-left: 13em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre125 {
    font-size: 10.67em;
    line-height: 1.2
    }
.calibre126 {
    height: 24px;
    width: 72px
    }
.calibre127 {
    height: 29px;
    width: 311px
    }
.calibre128 {
    height: 43px;
    width: 459px
    }
.calibre129 {
    display: block;
    margin-bottom: 1em;
    margin-left: 11em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre130 {
    font-size: 3.22em;
    line-height: 1.2
    }
.calibre131 {
    height: 1067px;
    width: 908px
    }
.calibre132 {
    height: 51px;
    width: 46px
    }
.calibre133 {
    height: 185px;
    width: 230px
    }
.calibre134 {
    height: 48px;
    width: 68px
    }
.calibre135 {
    height: 61px;
    width: 255px
    }
.calibre136 {
    height: 52px;
    width: 43px
    }
.calibre137 {
    height: 52px;
    width: 45px
    }
.calibre138 {
    height: 52px;
    width: 69px
    }
.calibre139 {
    height: 58px;
    width: 39px
    }
.calibre140 {
    height: 1067px;
    width: 913px
    }
.calibre141 {
    height: 73px;
    width: 86px
    }
.calibre142 {
    font-size: 4.89em;
    line-height: 1.2
    }
.calibre143 {
    height: 1065px;
    width: 910px
    }
.calibre144 {
    font-size: 4.44em;
    line-height: 1.2
    }
.calibre145 {
    font-size: 4.22em;
    line-height: 1.2
    }
.calibre146 {
    font-size: 3.33em;
    line-height: 1.2
    }
.calibre147 {
    height: 111px;
    width: 4px
    }
.calibre148 {
    height: 1194px;
    width: 825px
    }
.calibre149 {
    height: 1055px;
    width: 729px
    }
.calibre150 {
    height: 1076px;
    width: 904px
    }
.calibre151 {
    font-size: 10em;
    line-height: 1.2
    }
.calibre152 {
    display: block;
    margin-bottom: 1em;
    margin-left: 30em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre153 {
    height: 102px;
    width: 5px
    }
.calibre154 {
    height: 114px;
    width: 211px
    }
.calibre155 {
    height: 1065px;
    width: 899px
    }
.calibre156 {
    height: 14px;
    width: 167px
    }
.calibre157 {
    height: 13px;
    width: 122px
    }
.calibre158 {
    height: 14px;
    width: 85px
    }
.calibre159 {
    height: 1073px;
    width: 905px
    }
.calibre160 {
    font-size: 4.56em;
    line-height: 1.2
    }
.calibre161 {
    height: 34px;
    width: 319px
    }
.calibre162 {
    height: 1062px;
    width: 901px
    }
.calibre163 {
    height: 13px;
    width: 58px
    }
.calibre164 {
    height: 1064px;
    width: 899px
    }
.calibre165 {
    height: 14px;
    width: 68px
    }
.calibre166 {
    height: 13px;
    width: 56px
    }
.calibre167 {
    font-size: 10.11em;
    line-height: 1.2
    }
.calibre168 {
    font-size: 4.67em;
    line-height: 1.2
    }
.calibre169 {
    height: 91px;
    width: 148px
    }
.calibre170 {
    height: 98px;
    width: 144px
    }
.calibre171 {
    height: 98px;
    width: 143px
    }
.calibre172 {
    height: 1061px;
    width: 911px
    }
.calibre173 {
    height: 92px;
    width: 179px
    }
.calibre174 {
    height: 92px;
    width: 150px
    }
.calibre175 {
    height: 126px;
    width: 150px
    }
.calibre176 {
    height: 90px;
    width: 179px
    }
.calibre177 {
    font-size: 3.11em;
    line-height: 1.2
    }
.calibre178 {
    height: 94px;
    width: 150px
    }
.calibre179 {
    height: 91px;
    width: 179px
    }
.calibre180 {
    height: 92px;
    width: 180px
    }
.calibre181 {
    height: 89px;
    width: 127px
    }
.calibre182 {
    height: 91px;
    width: 127px
    }
.calibre183 {
    height: 177px;
    width: 163px
    }
.calibre184 {
    height: 88px;
    width: 183px
    }
.calibre185 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always;
    text-align: right
    }
.calibre186 {
    height: 121px;
    width: 66px
    }
.calibre187 {
    display: block;
    margin-bottom: 1em;
    margin-left: 18em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre188 {
    height: 84px;
    width: 140px
    }
.calibre189 {
    height: 134px;
    width: 138px
    }
.calibre190 {
    height: 76px;
    width: 141px
    }
.calibre191 {
    height: 1063px;
    width: 904px
    }
.calibre192 {
    height: 12px;
    width: 115px
    }
.calibre193 {
    height: 71px;
    width: 115px
    }
.calibre194 {
    height: 27px;
    width: 107px
    }
.calibre195 {
    height: 78px;
    width: 206px
    }
.calibre196 {
    display: block;
    margin-bottom: 1em;
    margin-left: 31em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre197 {
    height: 77px;
    width: 207px
    }
.calibre198 {
    height: 14px;
    width: 65px
    }
.calibre199 {
    height: 14px;
    width: 102px
    }
.calibre200 {
    height: 14px;
    width: 366px
    }
.calibre201 {
    height: 13px;
    width: 94px
    }
.calibre202 {
    font-size: 9.89em;
    line-height: 1.2
    }
.calibre203 {
    height: 13px;
    width: 262px
    }
.calibre204 {
    height: 16px;
    width: 262px
    }
.calibre205 {
    height: 71px;
    width: 114px
    }
.calibre206 {
    float: right;
    line-height: 1.2
    }
.calibre207 {
    height: 14px;
    width: 55px
    }
.calibre208 {
    height: 13px;
    width: 55px
    }
.calibre209 {
    font-size: 0.33em
    }
.calibre210 {
    height: 14px;
    width: 66px
    }
.calibre211 {
    height: 14px;
    width: 59px
    }
.calibre212 {
    height: 12px;
    width: 62px
    }
.calibre213 {
    height: 13px;
    width: 141px
    }
.calibre214 {
    height: 13px;
    width: 101px
    }
.calibre215 {
    height: 14px;
    width: 88px
    }
.calibre216 {
    height: 13px;
    width: 68px
    }
.calibre217 {
    height: 13px;
    width: 215px
    }
.calibre218 {
    height: 160px;
    width: 164px
    }
.calibre219 {
    height: 160px;
    width: 121px
    }
.calibre220 {
    height: 88px;
    width: 27px
    }
.calibre221 {
    height: 12px;
    width: 253px
    }
.calibre222 {
    height: 69px;
    width: 253px
    }
.calibre223 {
    display: block;
    margin-bottom: 1em;
    margin-left: 19em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre224 {
    height: 13px;
    width: 84px
    }
.calibre225 {
    height: 13px;
    width: 160px
    }
.calibre226 {
    height: 13px;
    width: 63px
    }
.calibre227 {
    height: 14px;
    width: 79px
    }
.calibre228 {
    height: 1059px;
    width: 909px
    }
.calibre229 {
    height: 1063px;
    width: 913px
    }
.calibre230 {
    height: 14px;
    width: 111px
    }
.calibre231 {
    height: 14px;
    width: 120px
    }
.calibre232 {
    height: 13px;
    width: 304px
    }
.calibre233 {
    height: 14px;
    width: 174px
    }
.calibre234 {
    height: 13px;
    width: 167px
    }
.calibre235 {
    height: 1064px;
    width: 904px
    }
.calibre236 {
    height: 13px;
    width: 233px
    }
.calibre237 {
    height: 16px;
    width: 132px
    }
.calibre238 {
    height: 8px;
    width: 423px
    }
.calibre239 {
    height: 13px;
    width: 204px
    }
.calibre240 {
    height: 1064px;
    width: 903px
    }
.calibre241 {
    height: 1072px;
    width: 903px
    }
.calibre242 {
    height: 13px;
    width: 59px
    }
.calibre243 {
    height: 14px;
    width: 144px
    }
.calibre244 {
    height: 14px;
    width: 101px
    }
.calibre245 {
    height: 14px;
    width: 82px
    }
.calibre246 {
    height: 13px;
    width: 46px
    }
.calibre247 {
    height: 14px;
    width: 206px
    }
.calibre248 {
    height: 13px;
    width: 52px
    }
.calibre249 {
    height: 14px;
    width: 62px
    }
.calibre250 {
    display: block;
    margin-bottom: 1em;
    margin-left: 22em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre251 {
    height: 29px;
    width: 612px
    }
.calibre252 {
    height: 27px;
    width: 226px
    }
.calibre253 {
    height: 27px;
    width: 230px
    }
.calibre254 {
    height: 26px;
    width: 226px
    }
.calibre255 {
    height: 27px;
    width: 207px
    }
.calibre256 {
    height: 14px;
    width: 73px
    }
.calibre257 {
    height: 49px;
    width: 186px
    }
.calibre258 {
    height: 26px;
    width: 186px
    }
.calibre259 {
    height: 24px;
    width: 200px
    }
.calibre260 {
    height: 27px;
    width: 189px
    }
.calibre261 {
    height: 69px;
    width: 193px
    }
.calibre262 {
    height: 50px;
    width: 193px
    }
.calibre263 {
    height: 13px;
    width: 88px
    }
.calibre264 {
    height: 13px;
    width: 148px
    }
.calibre265 {
    height: 13px;
    width: 78px
    }
.calibre266 {
    height: 9px;
    width: 356px
    }
.calibre267 {
    height: 13px;
    width: 105px
    }
.calibre268 {
    height: 14px;
    width: 166px
    }
.calibre269 {
    height: 13px;
    width: 184px
    }
.calibre270 {
    height: 13px;
    width: 111px
    }
.calibre271 {
    height: 13px;
    width: 256px
    }
.calibre272 {
    display: block;
    margin-bottom: 1em;
    margin-left: 27em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre273 {
    height: 13px;
    width: 281px
    }
.calibre274 {
    height: 13px;
    width: 115px
    }
.calibre275 {
    height: 12px;
    width: 75px
    }
.calibre276 {
    height: 13px;
    width: 73px
    }
.calibre277 {
    height: 13px;
    width: 66px
    }
.calibre278 {
    height: 14px;
    width: 98px
    }
.calibre279 {
    height: 85px;
    width: 222px
    }
.calibre280 {
    font-size: 5.11em;
    line-height: 1.2
    }
.calibre281 {
    height: 56px;
    width: 7px
    }
.calibre282 {
    height: 101px;
    width: 9px
    }
.calibre283 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
.calibre284 {
    height: 94px;
    width: 7px
    }
.calibre285 {
    height: 1192px;
    width: 812px
    }
.calibre286 {
    height: 1076px;
    width: 732px
    }
.calibre287 {
    height: 1058px;
    width: 908px
    }
.calibre288 {
    height: 1063px;
    width: 914px
    }
.calibre289 {
    height: 238px;
    width: 238px
    }
.calibre290 {
    height: 1065px;
    width: 917px
    }
.calibre291 {
    height: 1061px;
    width: 912px
    }
.calibre292 {
    height: 58px;
    width: 350px
    }
.calibre293 {
    height: 32px;
    width: 364px
    }
.calibre294 {
    height: 30px;
    width: 253px
    }
.calibre295 {
    height: 55px;
    width: 307px
    }
.calibre296 {
    height: 52px;
    width: 29px
    }
.calibre297 {
    height: 26px;
    width: 68px
    }
.calibre298 {
    height: 1059px;
    width: 910px
    }
.calibre299 {
    height: 1061px;
    width: 929px
    }
.calibre300 {
    height: 1054px;
    width: 904px
    }
.calibre301 {
    height: 26px;
    width: 153px
    }
.calibre302 {
    display: block;
    margin-bottom: 1em;
    margin-left: 28em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre303 {
    height: 1056px;
    width: 902px
    }
.calibre304 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre305 {
    height: 6px;
    width: 292px
    }
.calibre306 {
    height: 82px;
    width: 111px
    }
.calibre307 {
    height: 109px;
    width: 156px
    }
.calibre308 {
    height: 1067px;
    width: 919px
    }
.calibre309 {
    height: 1067px;
    width: 917px
    }
.calibre310 {
    height: 158px;
    width: 85px
    }
.calibre311 {
    height: 78px;
    width: 32px
    }
.calibre312 {
    height: 121px;
    width: 85px
    }
.calibre313 {
    display: block;
    margin-bottom: 1em;
    margin-left: 20em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre314 {
    display: block;
    margin-bottom: 1em;
    margin-left: 24em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre315 {
    height: 1063px;
    width: 926px
    }
.calibre316 {
    height: 158px;
    width: 109px
    }
.calibre317 {
    height: 76px;
    width: 32px
    }
.calibre318 {
    height: 161px;
    width: 85px
    }
.calibre319 {
    height: 78px;
    width: 30px
    }
.calibre320 {
    height: 1064px;
    width: 931px
    }
.calibre321 {
    height: 6px;
    width: 125px
    }
.calibre322 {
    height: 109px;
    width: 158px
    }
.calibre323 {
    height: 1059px;
    width: 899px
    }
.calibre324 {
    height: 111px;
    width: 200px
    }
.calibre325 {
    height: 1068px;
    width: 921px
    }
.calibre326 {
    height: 1063px;
    width: 927px
    }
.calibre327 {
    height: 1058px;
    width: 904px
    }
.calibre328 {
    height: 111px;
    width: 194px
    }
.calibre329 {
    height: 111px;
    width: 160px
    }
.calibre330 {
    height: 1071px;
    width: 943px
    }
.calibre331 {
    height: 112px;
    width: 164px
    }
.calibre332 {
    display: block;
    margin-bottom: 1em;
    margin-left: 34em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre333 {
    height: 1056px;
    width: 906px
    }
.calibre334 {
    height: 109px;
    width: 199px
    }
.calibre335 {
    display: block;
    margin-bottom: 1em;
    margin-left: 17em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre336 {
    height: 112px;
    width: 199px
    }
.calibre337 {
    height: 42px;
    width: 78px
    }
.calibre338 {
    font-size: 3.78em;
    line-height: 1.2
    }
.calibre339 {
    font-size: 3.67em;
    line-height: 1.2
    }
.calibre340 {
    font-size: 5.89em;
    line-height: 1.2
    }
.calibre341 {
    height: 42px;
    width: 85px
    }
.calibre342 {
    height: 1067px;
    width: 936px
    }
.calibre343 {
    height: 1061px;
    width: 917px
    }
.calibre344 {
    height: 1065px;
    width: 937px
    }
.calibre345 {
    height: 1063px;
    width: 910px
    }
.calibre346 {
    height: 1071px;
    width: 923px
    }
.calibre347 {
    height: 27px;
    width: 429px
    }
.calibre348 {
    height: 29px;
    width: 429px
    }
.calibre349 {
    font-size: 7.89em;
    line-height: 1.2
    }
.calibre350 {
    height: 50px;
    width: 428px
    }
.calibre351 {
    height: 1115px;
    width: 909px
    }
.calibre352 {
    height: 53px;
    width: 428px
    }
.calibre353 {
    height: 1091px;
    width: 947px
    }
.calibre354 {
    height: 4px;
    width: 613px
    }
.calibre355 {
    height: 1080px;
    width: 927px
    }
.calibre356 {
    height: 1076px;
    width: 914px
    }
.calibre357 {
    font-size: 0.78em
    }
.calibre358 {
    height: 186px;
    width: 229px
    }
.calibre359 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 32em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre360 {
    height: 24px;
    width: 422px
    }
.calibre361 {
    height: 1074px;
    width: 921px
    }
.calibre362 {
    height: 27px;
    width: 521px
    }
.calibre363 {
    display: block;
    margin-bottom: 1em;
    margin-left: 15em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre364 {
    height: 27px;
    width: 426px
    }
.calibre365 {
    height: 30px;
    width: 255px
    }
.calibre366 {
    height: 1069px;
    width: 919px
    }
.calibre367 {
    height: 177px;
    width: 265px
    }
.calibre368 {
    height: 1069px;
    width: 925px
    }
.calibre369 {
    height: 1080px;
    width: 940px
    }
.calibre370 {
    height: 1070px;
    width: 909px
    }
.calibre371 {
    height: 163px;
    width: 168px
    }
.calibre372 {
    height: 162px;
    width: 122px
    }
.calibre373 {
    display: block;
    margin-bottom: 1em;
    margin-left: 29em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre374 {
    display: block;
    margin-bottom: 1em;
    margin-left: 32em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre375 {
    height: 1065px;
    width: 906px
    }
.calibre376 {
    height: 7px;
    width: 118px
    }
.calibre377 {
    height: 1062px;
    width: 918px
    }
.calibre378 {
    height: 1074px;
    width: 912px
    }
.calibre379 {
    height: 1068px;
    width: 907px
    }
.calibre380 {
    height: 52px;
    width: 436px
    }
.calibre381 {
    height: 52px;
    width: 417px
    }
.calibre382 {
    height: 1073px;
    width: 914px
    }
.calibre383 {
    height: 186px;
    width: 239px
    }
.calibre384 {
    height: 82px;
    width: 389px
    }
.calibre385 {
    height: 1082px;
    width: 937px
    }
.calibre386 {
    height: 1068px;
    width: 920px
    }
.calibre387 {
    height: 1078px;
    width: 925px
    }
.calibre388 {
    height: 1070px;
    width: 922px
    }
.calibre389 {
    height: 50px;
    width: 29px
    }
.calibre390 {
    height: 112px;
    width: 163px
    }
.calibre391 {
    height: 48px;
    width: 163px
    }
.calibre392 {
    height: 73px;
    width: 395px
    }
.calibre393 {
    height: 50px;
    width: 213px
    }
.calibre394 {
    height: 50px;
    width: 130px
    }
.calibre395 {
    height: 22px;
    width: 202px
    }
.calibre396 {
    height: 1056px;
    width: 909px
    }
.calibre397 {
    height: 48px;
    width: 32px
    }
.calibre398 {
    height: 46px;
    width: 33px
    }
.calibre399 {
    height: 46px;
    width: 4px
    }
.calibre400 {
    height: 1068px;
    width: 915px
    }
.calibre401 {
    height: 46px;
    width: 32px
    }
.calibre402 {
    height: 82px;
    width: 507px
    }
.calibre403 {
    display: block;
    margin-bottom: 1em;
    margin-left: 21em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre404 {
    height: 246px;
    width: 138px
    }
.calibre405 {
    height: 1071px;
    width: 912px
    }
.calibre406 {
    height: 30px;
    width: 504px
    }
.calibre407 {
    height: 1075px;
    width: 928px
    }
.calibre408 {
    height: 96px;
    width: 158px
    }
.calibre409 {
    height: 1085px;
    width: 933px
    }
.calibre410 {
    height: 98px;
    width: 160px
    }
.calibre411 {
    height: 96px;
    width: 160px
    }
.calibre412 {
    height: 99px;
    width: 160px
    }
.calibre413 {
    height: 1071px;
    width: 921px
    }
.calibre414 {
    height: 1078px;
    width: 933px
    }
.calibre415 {
    height: 1072px;
    width: 923px
    }
.calibre416 {
    height: 1075px;
    width: 915px
    }
.calibre417 {
    height: 123px;
    width: 217px
    }
.calibre418 {
    height: 1079px;
    width: 920px
    }
.calibre419 {
    height: 1070px;
    width: 921px
    }
.calibre420 {
    height: 128px;
    width: 127px
    }
.calibre421 {
    height: 7px;
    width: 444px
    }
.calibre422 {
    height: 1071px;
    width: 908px
    }
.calibre423 {
    height: 52px;
    width: 455px
    }
.calibre424 {
    height: 1057px;
    width: 901px
    }
.scenebreak {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-before: avoid;
    text-align: center;
    text-indent: 0%
    }
.softbreak {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    page-break-before: avoid;
    text-align: center
    }
.whitespace {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }

